@mixin bg-img($url, $position: center, $size: cover, $repeat: no-repeat, 
              $attachment: scroll, $origin: padding-box, $clip: border-box, $color: transparent) {
    background-image: url($url);
    background-position: $position;
    background-size: $size;
    background-repeat: $repeat;
    background-attachment: $attachment;
    background-origin: $origin;
    background-clip: $clip;
    background-color: transparent;
}

@mixin center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin square($width) {
    width: $width;
    padding-bottom: $width;
  }

@mixin flex($direction: row, $content: null , $items: null, $wrap: null) {
	display: flex;
	flex-direction: $direction;
	justify-content: $content;
	align-items: $items;
	flex-wrap: $wrap;
}



// MEDIA QUERIES MANAGER
/*
0 - 600px:          Phone
600 - 900px:        Table portrait
900 - 1200px:       Tablet landscape
1200 - 1800px:      Normal style apply
1800px >=:          Big desktop
*/

/*
$breakpoint argument choices:
    - phone
    - tab-port
    - tab-land
    - big-desktop
*/

/*
ORDER: Base + Typography -> General Layout + Grid -> Page Layout -> Components
*/

// 1em = 16px

@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media (max-width: 37.5em) { // 600px
            @content
        };
    }

    @if $breakpoint == tab-port {
        @media (max-width: 56.25em) { // 900px
            @content
        };
    }

    @if $breakpoint == tab-land {
        @media (max-width: 75em) { // 1200px
            @content
        };
    }

    @if $breakpoint == big-desktop {
        @media (min-width: 112.5em) { // 1800px
            @content
        };
    }
}

@mixin transpose {
    @media (orientation: portrait) and (max-width: 37.5em) {
        @content
    };
}