// COLOR
$brand-primary: #ed6950;

$color-primary: #ffc74a;
$color-primary-dark-1: #ecb436;
$color-primary-dark-2: #b98000;
$color-primary-light: #f8c759;

$about-bg-color: #f8f9fb;

$color-white: #fff;
$color-grey: #ccc;
$color-black: #000;

// FONT
$primary-font: "Lato", sans-serif;

$font-color-primary: #606f81;
$font-color-primary-light-1: #a0a9b3;
$font-color-primary-light-2: #bdc8d9;
$font-color-primary-light-3: #b1b8c2;
$font-color-primary-light-4: #606f81;

// BORDER
$default-border-radius: 3px;